
*.aa
*.ab
*.ac
.profile
.bash_profile
.bash_history
.bashrc
.inputrc
*.pyc
*.pyc
Assignment/
Workshop/
IRModel_R102.dat
Untitled.ipynb
Untitled.ipynb
wk3_solutions.ipynb
SimCSE-reproduce-main/wiki_for_sts_32/data-00000-of-00001.arrow
SimCSE-reproduce-main/wiki1m_for_simcse.txt
SimCSE-reproduce-main/SentEval-main/data
SimCSE-reproduce-main/trainer_models